
<div class="container">
    <div class="card-white">
      <%= image_tag "Viktor01.jpg", class: "img-circle"%>
      <h2>About</h2>
      <h3>Git stats</h3>
    </div>

    <div class="card-white">
      <h2>Full-fledged projects</h2>
      <a href="https://www.algolearning.club/"><%= image_tag "AlgoLogo.png", class: "card-logo" %></a>
      <a href="https://fourlegsangels-vkaraujo.herokuapp.com/"><%= image_tag "4LegsLogo.png", class: "card-logo" %></a>
    </div>

    <div class="card-white">
      <h2>Conceptual projects</h2>
    </div>

    <div class="card-white">
      <h2>Contact me</h2>
      <ul class="list-inline">
        <li>
          <a href="https://www.linkedin.com/in/viktor-waissmann-de-araujo-62928640/">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/vkaraujo">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
</div>
