.badge-skill {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}
  
.badge-skill:hover {
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  content: attr(title);
  display: inline-block;
  left: 0px;
  top: 0px;
  background-color: #e0dede;
  color: black;
  width: 80px;
  height: 80px;
}

.project-badge:hover {
  padding: 15px;
}

