/* Colors and fonts */
body {
  background: #e3f6f5;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}
  
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
  
h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}
  
h2 {
  color: #6a197d;
  font-size: 20px;
  font-weight: bolder;
  font-weight: 500;
}
  
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}
  
a:hover {
  color: black;
}
  
  
/* Custom design with class */ 
.img-circle {
  border-radius: 50%;
  width: 100px;
}
  
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
  
.btn-blue:hover {
  background-color: black;
  color: white;
}
  

/* Design adjustments using id (1% design remaining) */
#introduction p {
  margin-bottom: 40px;
}

#intro {
  text-align: left;
}